body
{
    font-family: "plus Jakarta Sans",sans-serif !important;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

.container
{
    flex: 1;
}
.navbar
{
    height: 5rem;
    z-index: 2;
    background-color: white;
}
.fa-compass
{
    color: #fe424d;
}
.nav-link
{
    color: #222222 !important;
    display: inline-block;
}

/* footer */
.f-info-links,.f-info-social,.f-info-brand
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-social i
{
    font-size: 1.2rem;
    margin-right: 1rem;
}
.f-info-links a
{
text-decoration: none;
color:  #222222 ;
}

.f-info-links a :hover{
    text-decoration: underline;
}
.f-info
{
    text-align: center;
    height: 8rem;
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:space-evenly;
    margin-top: 2rem;
}
.f-info-brand
{
    margin-top: 0.5rem;
}

/* cards */
.card
{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top
{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body
{
    padding: 0px;
}
.card-text p{
    font-weight: 400;
}

.listing-link
{
   text-decoration: none; 
}

/* card effect */
.card :hover
{
    opacity:0.2;
    background-color: white ;
}
.add-btn
{
    background-color: #fe424d;
    border-radius: 0.2rem !important;
    border: none;
}


/* show page  */
.show-img
{
    height: 30vh;
}
.btns
{
    display: flex;
}
.show-cards
{
    padding-left: 0px;
    padding-right: 0px;
}
.card-text li
{
    list-style-type: none;
}