body
{
    font-family: "plus Jakarta Sans",sans-serif !important;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    background-color:#d7d7d7!important;
}

.container
{
    flex: 1;
}
.navbar
{
    height: 5rem;
    z-index: 2;
    background-color:#415256;
}
.fa-compass
{
    color: #1588fc;
}
.nav-link
{
    color: #ffffff !important;
    display: inline-block;
}

/* footer */
.f-info-links,.f-info-social,.f-info-brand
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.f-info-social i
{
    font-size: 1.2rem;
    margin-right: 1rem;
}
.f-info-links a
{
text-decoration: none;
color:  white ;
}

.f-info-links a :hover{
    text-decoration: underline;
}
.f-info
{
    text-align: center;
    height: 8rem;
    background-color:#415256;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:space-evenly;
    margin-top: 2rem;
}
.f-info-brand
{
    margin-top: 0.5rem;
}

/* cards */
.card
{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top
{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body
{
    padding: 0px;
    height: fit-content;
    width: fit-content;
}
.card-text p{
    font-weight: 400;
}

.listing-link
{
   text-decoration: none; 
}

/* card effect */
/* .card :hover
{
    opacity:0.2;
    background-color: white ;
} */
.add-btn
{
    background-color: #fe424d;
    border-radius: 0.2rem !important;
    border: none;
}


/* show page  */
.show-img
{
    height: 30vh;
}
.btns
{
    display: flex;
}
.show-cards
{
    padding-left: 0px;
    padding-right: 0px;
}
.card-text li
{
    list-style-type: none;
}
.textarea
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;	
    width: 100%;
}


/* review card */
.reviewcard
{
    border: 1px solid black !important;
}

.search-btn{
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  /* .search-btn:hover{
    background-color: #fe424d;
    color: #fff;
  } */
  .search-btn i{
    display: inline;
    margin-right: 0.5rem;
  }
  .search-input
  {

    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size:1rem;
  }

  .contain {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}


